.imgBody {
  display: flex;
  justify-content: center;
  padding: 1rem 0px;
}
.footer {
  margin: 0px 2rem;
  margin-bottom: 1rem;
  .date {
    font-size: small;
    color: var(--gray4);
  }
  .title {
    color: var(--primary);
    margin: 0px;
  }
  .description {
    color: var(--gray5);
    p {
      margin: 0.5rem 0px;
    }
  }
}

.FavSection {
  display: flex;
  align-items: center;
  .text {
    font-weight: bold;
    color: var(--gray5);
  }
}

@media screen and (max-width: 500px) {
  .footer {
    margin: 0px;
  }
}
