/* ===== Syakoo Lab Logo Animation Styles ===== */
@keyframes scaleUp {
  0% {
    r: 0;
  }
  100% {
    r: 140;
  }
}

@keyframes offsetIn {
  0% {
    stroke-dasharray: 0px 227px;
  }
  100% {
    stroke-dasharray: 227px 0px;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: translate(0px, -50%);
  }
  25% {
    opacity: 1;
    transform: translate(0px, 0px) scale(1, 1);
  }
  40% {
    transform-origin: calc(100% - 26px) bottom;
    transform: rotate(7deg);
  }
  65% {
    transform: translate(0px, 0px);
  }
  80% {
    transform-origin: bottom left;
    transform: rotate(-2deg);
  }
  100% {
    opacity: 1;
  }
}

@keyframes goAround {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(1deg);
  }
  80% {
    transform: translate(-2px, 2px) rotate(-1deg);
  }
  85% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.scaleUpCircle {
  animation: scaleUp 0.2s 0.3s forwards ease-out;
  r: 0;
}

.bgBorder {
  animation: offsetIn 0.2s forwards ease-out;
}

.literalS {
  animation: fadeInOpacity 0.3s 0.75s forwards ease-out;
  opacity: 0;
}

.cup {
  animation: fadeInBounce 0.5s 0.2s forwards cubic-bezier(1, 0.02, 1, 0.68);
  transform-origin: center;
  opacity: 0;
}

.cupSpoon {
  transform-origin: center bottom;
  animation: goAround 0.5s 0.2s forwards ease-out;
}
