:root {
  --primary: #294e80;
  --secondary: #3063d4;
  --gray: #f0f1f3;
  --gray2: #d4d5d8;
  --gray3: #b2b3b6;
  --gray4: #8f9094;
  --gray5: #737477;
  --gray6: #545557;
  --black: #3b3c3d;
  --bg1: #f0f1f3;
  --bg2: #fff;
  --font: #3b3c3d;
  --red: #f33e62;
  --cyan: rgb(0, 171, 238);
  --green: #2ab435;

  --width-sm: 850px;
  --width-md: 1200px;
}

body {
  font-family: 'Inter', 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0px;
  color: var(--font);
  background-color: var(--bg1);
}

::selection {
  background-color: var(--cyan);
  color: var(--gray);
}

a {
  word-break: break-all;
  color: var(--secondary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
  border-left: solid 1px #ececec;
}
::-webkit-scrollbar-thumb {
  background: #294e80;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}
