.Header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0.5rem;
  background-color: var(--bg2);
  nav {
    a {
      margin: 0px 0.5rem;
    }
  }
}
