---
/**
 * Writing 一覧ページ
 *   - /writings
 *   - /writings/[type]
 */
import { Container } from "@/design-system/layout";
import { HeaderFooterTemplate } from "@/features/common/components/HeaderFooterTemplate";
import { Meta } from "@/features/common/components/Meta";
import "@/features/common/logics/globalSettings";
import { formatPageTitle } from "@/features/common/logics/pageTitle";
import { WritingList } from "@/features/writings/WritingList";
import type { WritingListType } from "@/features/writings/WritingList/_shared/writingListType";
import { writingTypeConfig } from "@/features/writings/_shared/writingType";
import type { WritingType } from "@/features/writings/types";
import { readWritingContents } from "@/contents/writings/reader";
import { resolveWritingMeta } from "@/features/writings/writingContentResolver";

export async function getStaticPaths() {
  return [
    {
      // これで `/writings` 扱いとなる
      params: {
        type: undefined,
      },
    },
    ...writingTypeConfig.map(({ type }) => ({
      params: {
        type,
      },
    })),
  ];
}

const { type } = Astro.params;
const writingType: WritingListType = (type as WritingType | undefined) ?? "all";

const metas = (await readWritingContents()).map(({ frontMatter }) =>
  resolveWritingMeta({ frontMatter }),
);
---

<html lang="ja">
  <head>
    <Meta title={formatPageTitle("Writings")} url={Astro.url.pathname} />
    <meta content={Astro.generator} name="generator" />
  </head>
  <body>
    <HeaderFooterTemplate>
      <Container as="main" center paddingBottom="400" paddingX="200" size="100">
        <WritingList metas={metas} type={writingType} />
      </Container>
    </HeaderFooterTemplate>
  </body>
</html>
