---
import { Meta } from "@/features/common/components/Meta";
import "@/features/common/logics/globalSettings";
import { formatPageTitle } from "@/features/common/logics/pageTitle";
import { WritingList } from "@/features/writings/WritingList";
import { WRITING_TYPES } from "@/features/writings/shared/writingType";
import type { WritingType } from "@/features/writings/types";

export function getStaticPaths() {
  return WRITING_TYPES.map(({ type }) => ({
    params: {
      type,
    },
  }));
}

const { type } = Astro.params;
---

<html lang="ja">
  <head>
    <Meta title={formatPageTitle("Writings")} url={Astro.url.pathname} />
    <meta content={Astro.generator} name="generator" />
  </head>
  <body>
    <WritingList type={type as WritingType} />
  </body>
</html>
