.Card {
  margin: 1rem;
  padding: 1rem;
  padding-top: 0.75rem;
  border-radius: 5px;
  &[data-bg-white] {
    background-color: var(--bg2);
  }

  h2 {
    color: var(--primary);
    display: inline-block;
    font-size: 1.75rem;
    margin: 0px 0px 0.5rem 0px;
    // border-bottom: 2px solid var(--gray3);
  }
  .body {
    margin: 0px 1rem;
  }
}

@media (max-width: 850px) {
  .Card {
    padding: 0.5rem;
    margin: 1rem 0px;
    .body {
      margin: 0px 0.5rem;
    }
  }
}
