.list {
  margin: 0px;

  li {
    list-style: none;
    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 0.75rem;
      border-radius: 50%;
      background-color: var(--gray3);
      position: relative;
      top: -2px;
    }
  }
}

@media screen and (max-width: 800px) {
  .list {
    padding-left: 12px;
  }
}
