---
import "@/features/common/logics/globalSettings";
import { Home } from "@/features/home/pages/Home";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/logo.svg" rel="icon" type="image/svg+xml" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <title>Astro</title>
  </head>
  <body>
    <Home />
  </body>
</html>
