.Header {
  padding: 0px 0.5rem;
  background-color: var(--bg2);
  .inner {
    height: 4rem;
    max-width: var(--width-md);
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      svg {
        font-weight: bold;
        height: 2rem;
        vertical-align: bottom;
      }
    }
    nav {
      a {
        margin: 0px 0.5rem;
        color: var(--gray3);
        text-decoration: none;
        font-weight: bold;
        &:not([data-is-activate]):hover {
          transition: 0.1s;
          color: var(--black);
        }
        &[data-is-activate] {
          color: var(--primary);
        }
      }
    }
  }
}
