.article {
  background-color: var(--bg2);
  padding: 2rem;
  margin: 0px 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px var(--gray2);
  .header {
    margin-bottom: 3rem;
    .title {
      font-size: 2rem;
      margin: 0px;
      color: var(--primary);
    }
    .date {
      color: var(--gray4);
      font-size: 0.85rem;
    }
  }
  .body {
    border-bottom: 1px solid var(--gray2);
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    :global {
      h2 {
        margin-top: 2em;
        border-bottom: 1px solid var(--gray2);
        font-size: 1.75rem;
        &:before {
          content: '';
          display: inline-block;
          margin-right: 0.5rem;
          width: 4px;
          height: 1.5rem;
          background-color: var(--primary);
          position: relative;
          top: 3px;
        }
      }
      h3 {
        font-size: 1.5rem;
        margin-top: 2em;
        margin-bottom: 1rem;
      }
      strong {
        color: var(--primary);
      }
      code {
        border: 1px solid var(--gray3);
        border-radius: 5px;
        padding: 2px 0.25rem;
      }
      pre {
        code {
          padding: 0.75rem;
          font-size: 0.9rem;
        }
      }
      img {
        max-width: 100%;
        margin: 1rem auto;
        display: block;
      }
    }
  }
}

@media (max-width: 850px) {
  .article {
    padding: 1rem 0.5rem;
  }
}