.WishList {
  margin: 1rem auto;
  max-width: 500px;
  text-align: center;
  .text {
    font-size: small;
    color: var(--gray6);
  }
  .btn {
    width: 100%;
    padding: 5px 0px;
    background-color: var(--bg2);
    border: 1px solid var(--gray3);
    box-shadow: 0px 0px 3px 0px var(--gray4);
    font-weight: bold;
    color: var(--primary);
    &:hover {
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 0px 0px 10px 0px var(--gray4);
    }
    &:active {
      box-shadow: 0px 0px 1px 0px var(--gray4);
      border: 1px solid var(--primary);
    }
  }
}
