name: CI

on:
  - pull_request

env:
  NEXT_PUBLIC_GOOGLE_ANALYTICS_ID: "dummy-ga-id"

jobs:
  security-scan:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Safe Chain
        uses: ./.github/actions/setup-safe-chain

      - name: Setup Node.js and Pnpm
        uses: ./.github/actions/setup-node-and-pnpm

  lint:
    needs: security-scan
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and Pnpm
        uses: ./.github/actions/setup-node-and-pnpm

      - name: Run Lint
        run: pnpm lint

  unit-test:
    needs: security-scan
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and Pnpm
        uses: ./.github/actions/setup-node-and-pnpm

      - name: Collect Workflow Telemetry
        uses: catchpoint/workflow-telemetry-action@v2

      - name: Run unit test
        run: pnpm test

  build-check:
    needs: security-scan
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and Pnpm
        uses: ./.github/actions/setup-node-and-pnpm

      - name: Run Build
        run: pnpm build

  storybook-test:
    needs: security-scan
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and Pnpm
        uses: ./.github/actions/setup-node-and-pnpm

      - name: Install Playwright
        run: pnpm exec playwright install chromium --with-deps

      - name: Build Storybook
        run: pnpm storybook:build

      - name: Run Storybook tests
        run: pnpm storybook:test:ci
